body{
color:black;
font-size:1.25em;
font-family:Cambria,Georgia,"Book Antiqua",serif;
}

h1 {  
    color:blue;  
    background-color: palegoldenrod;
    width: fit-content;
    font-style:italic;
}

em {
    background-color: green;
    font-weight:bolder;
}

a:link {
    color:blue;
}

a:visited {
    color:purple;
}

a:hover {
    color:green;
}

a:active {
    color:yellow;
}

h1, h2 {
    color:red;
    background-color: palegoldenrod;
    width: fit-content;
    font-size: 1.5em;
}

p em {
    background-color:yellow;
}

p.intro {
    font-style: italic;
}

p.outro {
    font-weight:bold;
}

img#fig1 {
    position:relative;
}

img#fig2 {
    position:fixed;
}